/* HEADER */
header{
    height:80px;
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
}

header nav li{
    display: inline;
    padding-right:1rem;
    cursor:pointer;   
}
header a {
    color:white;
    text-decoration: none;
}
.bi-list{
    font-size: 2rem;
    border:1px solid #e9e9e9;
    border-radius: 0.5rem;
}

/* JUMBOTRON */
.jumbotron{
    background-color: var(--water-green);
    padding-top:8rem;
    color:var(--white);
}
.avatar{
    width:15%;
    padding-bottom:1rem;
}
/* MAIN */
main{
    text-align: center;
}

.box img{
    border-radius: 0.5rem;
}
/* PORTFOLIO */
#portfolio{
    padding-top:4rem;
    padding-bottom:5rem;
}
/* ABOUT */
#about{
    background-color: var(--water-green);
    color: var(--white);
    padding:3rem 0rem;
}
#about div{
    text-align: left;
}
.label>a{
    border:1px solid white;
    border-radius: 0.5rem;
    padding:0.5rem 1rem;
    color:white;
    text-decoration: none;
}
.fa-download{
    padding-right:0.5rem;
}
#about .row{
    padding-bottom: 3rem;
}
#about .container{
    padding:2rem;
}
/* CONTACT*/
#contact{
    padding-top:4rem;
}
form{
    text-align: left;
}

form>div:not(.label-green){
    border-bottom: 0.5px solid rgb(204, 204, 204);
    padding:0.5rem;
}
form>input:nth-child(4){
    padding-bottom: 5rem;
    margin-bottom: 1rem;
    border-bottom:1px solid #9a9a9a;
}
input{
    border:none;
    padding:0.5rem;
}
input[type="submit"]{
    background-color: var(--water-green);
    border-radius: 0.5rem;
    padding:0.2rem 1rem;
    color:var(--white);
    text-decoration: none;
    border:none;
    cursor:pointer;
}
#contact .row>*{
    padding-left:0;

}
.label-green{
    padding-top:2rem;
}
/* FOOTER */
footer{
    background-color: var(--lighterblue);
    padding:3rem 0rem 0rem 0rem;
}
footer>.row{
    text-align: center;
    color:var(--white);
}
footer .icons{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    gap:0.8rem;
}

.footer-copy{
    background-color: var(--blue);
    height:90px;
    font-size: 0.7rem;
}

.dot{
    width:50px;
    height:50px;
    border:1px solid white;
    border-radius: 50%;
}

/* DECORATIONS */
.star:after,
.star:before {
    content: '';
    width: 15%;
    max-width: 150px;
    height: 3.5px;
    border-radius: 1rem;
    display: inline-block;
    background-color: var(--blue);
}

.star {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.fa-star {
    padding: 2rem 1rem;
}

#about>.star:after,
#about>.star:before,
.jumbotron .star:before,
.jumbotron .star:after {
    background-color: white;
    width:25%;
}

/* MEDIA QUERIES */
@media screen and (max-width:575px){

    header li:not(:last-child) {
        display:none;
    }
    
    .avatar{
        width:45%;
    }

}
@media screen and (min-width:600px) and (max-width:1500px) {

    .avatar {
        width: 25%;
        }
 
}

label{
    display:inline-block;
}
