:root {
    --blue: #2c3e50;
    --lighterblue: #3a546d;
    --water-green: #1abc9c;
    --white: rgb(255, 255, 255);

}

img {
    max-width: 100%;
}

/* Text */
p {
    font-size: 0.9rem;
}

h2 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.2rem;
}

em {
    color: var(--water-green);
}