:root{
    --blue:#2c3e50;
    --lighterblue:#3a546d;
    --water-green:#1abc9c;
    --white:rgb(255, 255, 255);

}
img{
    max-width:100%;
}
/* Type */
/* h1{
    font-size: 3.5rem;
    padding-top:1rem;
} */
h2{
    font-size: 2.5rem;
}
.star:after,
.star:before{
    content:'';
    width:140px;
    height:3.5px;
    border-radius: 1rem;
    display:inline-block;
    background-color: var(--blue);
}
.star{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.fa-star{
    padding:2rem 2rem;
}

#about>.star:after,
#about>.star:before{
    background-color: white;
}